@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap%27');

body, html {
    background-color: #000000;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Share Tech", serif;
    margin: 0px;
}

h1 {  
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}


