{% extends 'base.html' %}

{% block body %}
<div class="projects">
    <h6 style="margin-left:30px"> PROJECTS </h6>
    
    {% set ns = namespace() %}
    {% set ns.dark = false %}
    {% for fellow in fellows %}
    {% if ns.dark %} 
        <div class="fellow" style="background-color:#5C75F4"> 
    {% else %}
        <div class="fellow">
    {% endif %}
            <!--use namespace to change variable within loop; with jinja, assignments within loops do not outlive its scope-->
            <div style="margin:30px 30px">
            {% set ns.alternate = false %}
            {% for proj in fellows[fellow]['projects'] %}
                        {% if ns.alternate %}
                                <div class="hobby" style="text-align:right">
                                    <img src="{{ proj['image'] }}">
                                    <span class="p"><h8>{{ proj['name'] }}</h8><br>{{ proj['desc'] }}<br><a href="{{ proj['repo'] }}" class="box2"><h11> github</h11></a></span>
                                </div>
                        {% else %}
                                <div class="hobby">
                                    <span class="p"><h8>{{ proj['name'] }}</h8><br>{{ proj['desc'] }}<br><a href="{{ proj['repo'] }}" class="box2"><h11> github</h11></a></span>
                                    <img src="{{ proj['image'] }}">
                                </div>
                        {% endif %}
                {% set ns.alternate = not ns.alternate %}
            {% endfor %}
            </div>
        </div>
    {% set ns.dark = not ns.dark %}
    {% endfor %}
</div>
{% endblock %}